# CODEOWNERS file
# This file defines code ownership for the repository.
# Users listed here will be automatically requested for review when a PR modifies files in their owned paths.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Overall maintainers — any one can approve a PR
* @mtellin @stevenctong

# CLOUD folder ownership
/CLOUD/ @bhaskard @srikar-rubrik-dev @sri-codebrik @visharma28

# M365 folder ownership
/M365/ @akashjaingis
